<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>

      <%= link_to "Add a brain", new_brain_path %>
    </div>
  </div>
</div>
