<div class="banner">
  <h1>Mind your business... Rent a brain!</h1>
</div>

<div class="filters-bar">
  <div class="filters-bar__category">
    <a href="">
      <i class="filters-bar__icon fa-solid fa-code"></i>
      <div class="filters-bar__text">Dev Profile</div>
    </a>
  </div>
  <div class="filters-bar__category">
    <a href="">
      <i class="filters-bar__icon fa-solid fa-face-smile"></i>
      <div class="filters-bar__text">Humor</div>
    </a>
  </div>
  <div class="filters-bar__category">
    <a href="">
      <i class="filters-bar__icon fa-solid fa-masks-theater"></i>
      <div class="filters-bar__text">Eloquence</div>
    </a>
  </div>
  <div class="filters-bar__category">
    <a href="">
      <i class="filters-bar__icon fa-solid fa-football"></i>
      <div class="filters-bar__text">Sporty Mindset</div>
    </a>
  </div>
  <div class="filters-bar__category">
    <a href="">
      <i class="filters-bar__icon fa-solid fa-palette"></i>
      <div class="filters-bar__text">Artist Soul</div>
    </a>
  </div>
  <div class="filters_button">
  </div>

<div class="grid__cards">
  <%= @brains.each do |brain| %>
    <%= brain.name %>
    <%= brain.name %>
    <%= brain.name %>
  <% end %>
</div>
