.filters-bar {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  width: 100%;

  &__category {
    text-align: center;
    flex: 1;
  }

  &__icon {
    color: $neutral-dark;
  }

  &__text {
    color: $neutral-light;
    font-size: 14px;
  }
}

.filters-bar a {
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease-out;

  &:hover {
    opacity: 1;
  }
}
